<div>
    <h2>{{vm.message}}</h2>
    <input ng-model="newShoe.name" placeholder = "Name" />
    <input ng-model="newShoe.cost" placeholder = "Cost" />
    <button ng-click="vm.addShoe(newShoe)">Submit new shoe</button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="items in vm.shoeItems.list">
                <td>
                    <input ng-model="items.name">
                </td>
                <td>
                    <input ng-model="items.cost">
                </td>
                <td>
                    <button ng-click="vm.deleteShoe(shoeToDelete)">Delete</button>
                </td>
                <td>
                    <button ng-click="">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>